* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* width: 100wh; */
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0 auto; */
  /* border: 3px solid black; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  background-color: #020202;
  height: 80rem;
  width: 45rem;
  border-radius: 1rem;
}

.screen {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 30rem;
  width: 40rem;
  /* border: 1px solid white; */
  margin-top: 2rem;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.screen-text {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  height: 60%;
  width: 85%;
  grid-row-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 50%;
  font-size: 2.5rem;
  height: 7.5rem;
  width: 7.5rem;
}

.dark-grey {
  background-color: #3a3a3a;
  color: rgb(255, 255, 255);
}

.light-grey {
  background-color: #a9a9a9;
}

.orange {
  background-color: #fc9722;
  color: rgb(255, 255, 255);
}

.yellow {
  background-color: #f8ab59;
  color: rgb(255, 255, 255);
}

.darken:hover {
  filter: brightness(120%);
}
